h1, h2 {
    color: var(--title-color)
}

main h1 {
    margin-top: 3rem;
    margin-bottom: 1rem;
}


/* 
.form-inicio .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

 */

